/*Begining of header*/
header{
    background-image: url(../Imges/Background.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: lights-in 2s ease forwards;
    filter: brightness(0);
}
@keyframes lights-in {
    from{
        filter: brightness(0);
    }
    to{
        filter: brightness(1);
    }
}
header .head{
    padding-top: 29px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
header .head a{
    opacity: 0;
    text-decoration: none;
    color: azure;
    font-size: 1.4rem;
    animation: fadein 0.8s ease forwards;
    transition: color 0.3s ease;
}
header .head a:hover{
    color: rgb(109, 120, 145);
}
.cart-container{
position: fixed;
right: 0;
bottom: 0;
margin-right: 30px;
margin-bottom: 30px;
opacity: 0;
animation: fadein 0.8s ease forwards;
animation-delay: 2.2s;
background-color: white;
border-radius: 10px;
z-index: 9999;
}
.cart-container img{
    max-width: 50px;
    border-radius: 10px;
}
.cart-container span{
    font-weight: 200;
    width: 40%;
    padding: 1.5px;
    position: absolute;
    top: -5px;
    right: 7px;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 25px;
    text-align: center;
}
header .head a:nth-child(1){
    animation-delay: 1s;
}
header .head a:nth-child(2){
    animation-delay: 1.4s;
}
header .head a:nth-child(3){
    animation-delay: 1.8s;
}
@keyframes fadein {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.title h4{
    opacity: 0;
    color: white;
    text-align: center;
    font-size: clamp(1rem , 5vw , 3rem);
    margin-bottom: 20px;
    animation: textFadeIn 2s ease forwards;
    animation-delay: 2.5s;
}
.title h2{
    opacity: 0;
    color: white;
    text-align: center;
    font-size: clamp(1rem , 2.5vw , 2rem);
    animation: SubTextFadeIn 2s ease forwards;
    animation-delay: 4s;
}
.title h2 span{
    position: relative;
}
.title h2 span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 0;
    box-shadow: 0 0 10px #ddf3f5, 0 0 20px #e4e5e6;
    animation: glowLine 2s ease forwards;
    animation-delay: 5s;
}
@keyframes textFadeIn {
    from{
        opacity: 0;
        filter: blur(15px);
        transform: scale(1.1);
    }
    to{
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
}
@keyframes SubTextFadeIn {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    50%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        word-spacing: 5px;
    }
}
@keyframes glowLine {
    0%{
        width: 0;
        opacity: 0;
    }
    50%{
        opacity: 1;
        width: 100%;
    }
    100%{
        opacity: 0;
        width: 100%;
    }
}
/*Ending of header*/