/*Begining of products*/
.products{
  padding: 50px 25px;
  column-count: 4;
  column-gap: 1rem;
  background: linear-gradient(to bottom , #453f3f , #272424 );
}
@media (max-width:440px) {
    .products{
    column-count: 2;
    }
}
.products .js-text{
    opacity: 0;
    text-align: center;
    font-size: 2rem;
    color: azure;
    margin-bottom: 50px;
    margin-top: 50px;
    transform: translateY(30px);
}
.products .js-text.inview{
    animation: ScrollAnimation 1s ease forwards;
}
@keyframes ScrollAnimation {
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.img-{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 1.5rem;
}
.img- button{
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 30px;
    width: 150px;
    cursor: pointer;
    background-color: rgba(218, 165, 32, 0.144);
    backdrop-filter: blur(20px);
    color: white;
    transition: background-color 0.5s ease;
}
.img- button:hover{
    background-color: rgba(218, 165, 32, 0.555);
}
.img-:hover button{
    animation: buttonSlideUp 0.5s ease forwards;
}
@keyframes buttonSlideUp {
    from{
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateX(-50%) translateY(0px);
    }
}
.products .imgbox {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  transition: all 0.5s ease;
  cursor: pointer;
  overflow: hidden;
}
.products .imgbox:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}
.img-:hover{
    animation: shadow 2s ease forwards;
}
@keyframes shadow {
  0% {
    box-shadow: none;
  }
  20% {
    box-shadow: -1px -1px 20px 0px rgb(253, 252, 252);
  }
  100% {
    box-shadow: none;
  }
}
/*Ending of products*/